@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --surface: #1e1e1e;
  --border: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #cecece;
    --surface: #1e1e1e;
    --border: #363636;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-button {
    @apply bg-surface rounded-xl py-2 px-6 text-base hover:bg-border border border-border;
  }
  .outlined-button {
    @apply border-2 border-surface rounded-xl py-2 px-6 text-base hover:bg-surface;
  }
  .outlined-input {
    @apply rounded-xl py-4 bg-background border border-border outline-none px-4;
  }
}
