# API server settings   
API_SERVER_PORT=3000
# Database connection settings
DB_HOST=pg
DB_PORT=5432
DB_SA_PASSWORD=
DB_SA_USERNAME=postgres
DB_NAME=mydb
# Datatabase query logs
DB_LOGS=true
# Translation API keys
GOOGLE_API_KEY=